@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #ff9a9e 10%, #F6416C 100%);

}

body::before,
body::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

body::before{
    clip-path: circle(30% at left 20%);
    background: linear-gradient(135deg, #F6416C 10%, #ff9a9e 100%);
}

body::after{
    clip-path: circle(25% at right 80%);
    background: linear-gradient(135deg, #F6416C 10%, #ff9a9e 100%);
}

header{
    height: 85vh;
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    position: relative;
    z-index: 12;
}

header .navbar{
    width: 100%;
    display: flex;
    padding: 35px 50px;
    justify-content: space-between;   
}

header .navbar .logo a{
    font-size: 22px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

header .navbar .menu{
    display: flex;
}

.navbar .menu li{
    list-style: none;
    margin: 0 10px;
}

.navbar .menu a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    transition:  all 0.3s ease;
}

.navbar .menu a:hover{
    color: #f2f2f2;
}

.navbar .buttons input{
    color: #f2f2f2;
    outline: none;
    font-weight: 500;
    font-size: 17px;
    padding: 6px 12px;
    margin: 0 8px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #F6416C 10%, #ff9a9e 100%);
}

.navbar .buttons input:hover{
    transform: scale(0.97);
}

.text-content{
    width: 40%;
    margin: 100px 0 0 50px;
}

.text-content h2{
    font-size: 27px;
    font-weight: 600;
}

.text-content p{
    margin-top: 10px;
    font-size: 15px;
}

.play-button{
    position: absolute;
    right: 50px;
    bottom: 40px;

}

.play-button .play-video{
    font-size: 18px;
    font-weight: 500px;
}

.play-button .play-video:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 50px;
    background: #000;
    left: -58px;
    top: 50%;
    transform: translateY(-50%);
}

.play-button i{
    height: 30px;
    width: 35px;
    border: 2px solid black;
    line-height: 25px;
    text-align: center;
    border-radius: 5px;
}

@media (max-width:850px){
    header .navbar{
        flex-direction: column;
        align-items: center;
    }

    .navbar .menu{
        margin: 10px 0 20px 0;
    }

    .text-content{
        width: 70%;
        margin: 30px 0 0 20px;

    }
}


@media (max-width:410px){
    header{
        height: 100vh;
        width: 100%;
        border-radius: 0;
    }
}